/*
img.normal{
    float: left;
    height: 300px;
    width: 300px;
}

img.alta{
    float: left;
    height: 420px;
    width: 300px;
}

h1{
    border-bottom-style: inset;
}

pre{
    font-size:1.2em;
}

*/

html{
    display: flex;
    justify-content: center;
}

body{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px gray;
}

img{
    max-width: 100%;
    float: left;
}
